body {
    background-color: lightgray;
}

div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer {
    background-color: #ffa500;
    height: 250px;
    /*height: 200px;*/
    width: 250px;
    /*width: 200px;*/
    border: 25px solid #ff0000;
    /*padding: 25px;*/
}

#middle {
    background-color: #008000;
    height: 150px;
    /*height: 100px;*/
    width: 150px;
    /*width: 100px;*/
    border: 25px solid #ffff00;
    /*padding: 25px;*/
}

#inner {
    background-color: #800080;
    height: 50px;
    width: 50px;
    border: 25px solid #0000ff;
}